.button-component {
	color: #fff;
	font-size: 14px;
	font-family: 'Segoe UI';
  background: rgba(255, 255, 255, 0.1);
  margin-top: 15px;
  border: 0;
  height: 35px;
  text-transform: uppercase;
  flex: 1;
  margin-left: 2px;
  margin-right: 2px;
}

.button-component:hover,
.button-component:active,
.button-component:focus {
	background: rgba(0, 0, 0, 0.1);
}
