@import 'https://fonts.googleapis.com/css?family=Varela+Round';
@import 'normalize.css';

@import '_header.css';
@import '_main.css';
@import '_post.css';
@import '_profile.css';
@import '_typing.css';

html,
body {
    font-size: 16px;
    font-family: 'Varela Round';
    color: #516d77;
}

@media (max-width: 575.98px) {
    html,
    body {
        font-size: 18px;
    }
}